.banner{
  padding: 0px;
}

.block ul{
width: 65%;
}
.block ul li{
padding: 0px;

}
.menu{    
  float: right;
  border-top: 2px solid #000;   
}

.menu a{
  float: left;
  padding:40px 20px 40px;
  /* background-color: rgb(117, 108, 108); */
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
}



.menu li a:hover{
color: #FFF;
background: #90A860;
}

*html .menu li a:hover { 
color: #000;
}