
.paragraph--type--products{
    text-align: center;
    margin: 2rem 6%;
}
/* .product-slider{ */
    /* margin: 1rem 0;
    text-align: center;
    align-items: center; */
    
/* } */

/* .product-slider:first-child{ */
    /* margin-bottom: 2rem;
    background-color: rgb(221, 217, 217); */
/* } */

.product-slider .box{
    background: #fff;
    width: 100%;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    box-shadow: var(--box-shadow);
    /* margin: 1rem 0; */
    /* margin: 0 10rem; */
}


.product-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.product-slider .box .views-field-field-img-product img{
    height: 15rem;

}

.product-slider .box .views-field-field-name-product {
    font-size: 2.5rem;
    color: var(--black);

}

.product-slider .box .views-field-field-price-product{
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
   
}

.product-slider .box .views-field-field-btn-products a{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
    
}
/* .product-slider .box .views-field-field-btn-products a{
    color: var(--black);
} */

.product-slider .box .views-field-field-btn-products a:hover{
    color: #fff;
    background-color: var(--orange);

}


.field--name-field-title-product{

    font-size: 3rem;
    background: var(--orange);  
    color: #fff; 
    display: inline-block;
    padding:.5rem 3rem;
    margin: 2rem 0;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}