.paragraph--type--categories{
    text-align: center;
    margin: 2rem 6%;
    /* background-color: red; */
}

.paragraph--type--categories .field--name-field-title-categories{
    font-size: 3rem;
    background: var(--orange);  
    color: #fff; 
    display: inline-block;
    padding:.5rem 3rem;
    margin: 2rem 0;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}


/* 
.paragraph--type--categories .field--name-field-views-categories{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
   gap:1.5rem
} */

.paragraph--type--categories  .view-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(24rem,1fr));
    /* grid-template-columns: auto auto auto auto;     */
    gap:1.5rem;
}


.paragraph--type--categories  .view-content .views-row{
    background: #fff;
    box-shadow: var(--box-shadow);
    padding: 3rem 2rem;
    outline: var(--outline);
    outline-offset: -1rem;
    transition: .2s linear;
    border-radius: .5rem;
}



.paragraph--type--categories  .view-content .views-row:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.views-field-field-img-categories img{
    height: 12rem;
    padding: .3rem 0;
}

.views-field-field-name-categories{
    font-size: 2.4rem;
    color: var(--black);
    font-weight: bold;
}


.views-field-field-saleoff-categoires{
    font-size: 1.3rem;
    color: var(--light-color);
    padding: 1.2rem;
}

.views-field-field-btn-ca a{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;

}
.views-field-field-btn-ca a:hover{
    background: var(--orange);
    color:#fff;
} 