.node--type-products .form-contact{
    width: 20%;
}

.node--type-products .form-contact .field--name-field-product-contact{
    background-color: #fff;    
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    margin-top: -1rem;
}

.node--type-products .form-contact .field--name-field-product-contact form{
    padding: 0 6%;
}

.node--type-products .form-contact .field--name-field-product-contact #edit-your-name{
    height: 3.5rem;
    border: var(--outline);
    width: 100%;
    padding: 1rem .5rem;
    font-size: 1rem;
}

.node--type-products .form-contact .iti--allow-dropdown{
    width: 100%;
}

.node--type-products .form-contact .iti--allow-dropdown input{
    height: 3.5rem;
    border: var(--outline);
    width: 100%
}
.node--type-products .form-contact .iti__selected-flag{
    background-color: rgb(206, 200, 200);
}

.node--type-products .form-contact .field--name-field-product-contact #edit-your-email{
    height: 3.5rem;
    border: var(--outline);
    width: 100%;
    padding: 1rem .5rem;
    font-size: 1rem;
}


.node--type-products .form-contact .field--name-field-product-contact #edit-message{
    height: 13rem;
    border: var(--outline);
    width: 100%;
    padding: 1rem .5rem;
    font-size: 1rem;
}


.node--type-products .form-contact .webform-button--submit{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    border-radius: .2rem;
    background-color: var(--orange);
    height: 3.3rem;
    color: #fff;
    margin-bottom: 2rem;
}
.node--type-products .js-form-item-your-name{
    padding-top: 2rem;
}